<div *ngIf="displayTopBar" class="top-bar">
  <div class="player-info">
    <img [src]="player1.avatar" alt="Avatar" id="player1-icon" />

    <span class="player-name" id="player1-name">{{ player1.username }}</span>
    <span class="points" id="player1-points">{{ player1.pontuacao }} pts</span>
  </div>

  <div class="turn-indicator" [class.my-turn]="isMyTurn" [class.opponent-turn]="!isMyTurn">
    <span *ngIf="isMyTurn">🎮 Seu Turno</span>
    <span *ngIf="!isMyTurn">⏳ Turno do Adversário</span>
  </div>

  <div class="timer-area">
    <div class="timer-container">
      <svg width="60" height="60">
        <circle cx="30" cy="30" r="27" stroke="#333" />
        <circle id="timer-circle" class="timer-circle" cx="30" cy="30" r="27" stroke="#00FF00" stroke-dasharray="170"
          stroke-dashoffset="0" />
      </svg>
      <div id="timer-text" class="timer-text">{{ roomTimeLeft }}</div>
    </div>
    <button id="backBtn" title="Voltar ao Lobby" routerLink="/lobby"
      style="margin-left:8px;padding:6px 8px;border-radius:8px;border:none;cursor:pointer;background:#2b2b5a;color:#fff">Voltar
      ao Lobby</button>
  </div>

  <div class="player-info">
    <img id="player2-icon" [src]="otherPlayer.avatar" />
    <span class="player-name" id="player2-name">{{ otherPlayer.username }}</span>
    <span class="points" id="player2-points">{{ otherPlayer.pontuacao }} pts</span>
  </div>
</div>

<div id="game-area">
  <div id="roleta-area" style="display:flex;flex-direction:column;align-items:center;gap:12px;margin-top:-40px;"
    *ngIf="showWheelSection">
    <div class="fw-modal-like" style="overflow:visible;position:relative;">
      <app-quest-wheel [locked]="roletaTravada" (spinStart)="roletaComecouSpin($event)" (spinEnd)="onSpinEnd($event)"
        [targetIndex]="shouldSpin">
      </app-quest-wheel>
    </div>
  </div>


  <div style="width: 800px;" *ngIf="showQuestionSection">
    <app-question-section class="full-width"
                          [question]="question"
                          [categoryName]="selectedTheme"
                          [isMyTurn]="isMyTurn"
                          [disableAlternatives]="disableQuestionSection"
                          (answerSelected)="onAnswerSelected($event)">
    </app-question-section>
  </div>

  <pre> CHOOSEN CARD ROOM {{ choosenCard | json }} </pre>

  <app-card-selection
    *ngIf="showCardSection"
    [disabled]="disableCardsSection"
    [isMyTurn]="isMyTurn"
    [availableCards]="availableCards"
    [opponentCards]="oponnentAvailableCards"
    (pickRequested)="onCardPickRequested($event)"
    [choosenCard]="choosenCard"
    class="cards-containers"
  ></app-card-selection>


  <app-power-tray
    [leftPowers]="player1Powers"
    [rightPowers]="player2Powers"
    [isMyTurn]="isMyTurn"
    [disabled]="cannotUsePowers"
    (powerUsed)="checkUsedPower($event)"
  ></app-power-tray>


</div>

<!-- MODAL DA CATEGORIA SORTEADA -->
<div style="z-index: 999999;" class="theme-modal-backdrop" *ngIf="themeModalOpen" (click)="closeThemeModal()">
  <div class="theme-modal" (click)="$event.stopPropagation()" role="dialog" aria-modal="true"
    aria-labelledby="themeTitle">
    <img class="theme-icon" *ngIf="themeForWheel?.iconUrl" [src]="'assets/img/' + themeForWheel?.iconUrl" alt="" />
    <h2 id="themeTitle">{{ themeForWheel?.label || 'Tema' }}</h2>
    <p class="theme-sub">Categoria sorteada</p>
  </div>
</div>

<div class="jumpscare-overlay" *ngIf="showJumpscare">
  <img [src]="jumpscareImage" class="jumpscare-img" />
</div>
