<div class="card-selection-v2" [class.disabled]="disabled">

  <!-- LEFT PANEL -->
  <aside class="cards-panel left-panel" [class.active]="activeSide === 'left'">
    <div class="panel-inner">
      <div class="panel-title">{{ leftTitle }}</div>

      <div class="columns">
        <div class="col col-a">
          <ng-container *ngFor="let c of leftColA">
            <button class="card small" [class.used]="c.used" [class.selected]="isPicked('left', c.id)"
              [disabled]="isDisabled('left', c)" (click)="pick('left', c)" type="button"
              [attr.aria-pressed]="isPicked('left', c.id)" [attr.aria-disabled]="isDisabled('left', c) ? true : null">
              <div class="val">{{ c.value }}</div>
            </button>
          </ng-container>
        </div>

        <div class="col col-b">
          <ng-container *ngFor="let c of leftColB">
            <button class="card small" [class.used]="c.used" [class.selected]="isPicked('left', c.id)"
              [disabled]="isDisabled('left', c)" (click)="pick('left', c)" type="button"
              [attr.aria-pressed]="isPicked('left', c.id)" [attr.aria-disabled]="isDisabled('left', c) ? true : null">
              <div class="val">{{ c.value }}</div>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </aside>

  <!-- RIGHT PANEL -->
  <aside class="cards-panel right-panel" [class.active]="activeSide === 'right'">
    <div class="panel-inner">
      <div class="panel-title">{{ rightTitle }}</div>

      <div class="columns">
        <div class="col col-a">
          <ng-container *ngFor="let c of rightColA">
            <button class="card small" [class.used]="c.used" [class.selected]="isPicked('right', c.id)"
              [disabled]="isDisabled('right', c)" (click)="pick('right', c)" type="button"
              [attr.aria-pressed]="isPicked('right', c.id)" [attr.aria-disabled]="isDisabled('right', c) ? true : null">
              <div class="val">{{ c.value }}</div>
            </button>
          </ng-container>
        </div>

        <div class="col col-b">
          <ng-container *ngFor="let c of rightColB">
            <button class="card small" [class.used]="c.used" [class.selected]="isPicked('right', c.id)"
              [disabled]="isDisabled('right', c)" (click)="pick('right', c)" type="button"
              [attr.aria-pressed]="isPicked('right', c.id)" [attr.aria-disabled]="isDisabled('right', c) ? true : null">
              <div class="val">{{ c.value }}</div>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </aside>

</div>
