<div class="card-selection-v2" [class.disabled]="disabled">

  <!-- LEFT PANEL (Minhas Cartas) -->
  <aside class="cards-panel left-panel" [class.active]="isMyTurn">
    <div class="panel-inner">
      <div class="panel-title">{{ leftTitle }}</div>

      <div class="columns">

        <div class="col col-a">
          <ng-container *ngFor="let c of leftColA">
            <button class="card small"
              [class.used]="c.used"
              [class.selected]="c.picked"
              [disabled]="c.disabled"
              (click)="pick(c.value)">
              <div class="val">{{ c.value }}</div>
            </button>
          </ng-container>
        </div>

        <div class="col col-b">
          <ng-container *ngFor="let c of leftColB">
            <button class="card small"
              [class.used]="c.used"
              [class.selected]="c.picked"
              [disabled]="c.disabled"
              (click)="pick(c.value)">
              <div class="val">{{ c.value }}</div>
            </button>
          </ng-container>
        </div>

      </div>
    </div>
  </aside>

  <!-- RIGHT PANEL (Cartas do Oponente) -->
  <aside class="cards-panel right-panel">
    <div class="panel-inner">
      <div class="panel-title">{{ rightTitle }}</div>

      <div class="columns">

        <div class="col col-a">
          <ng-container *ngFor="let c of rightColA">
            <button class="card small"
              [class.used]="c.used"
              disabled>
              <div class="val">{{ c.value }}</div>
            </button>
          </ng-container>
        </div>

        <div class="col col-b">
          <ng-container *ngFor="let c of rightColB">
            <button class="card small"
              [class.used]="c.used"
              disabled>
              <div class="val">{{ c.value }}</div>
            </button>
          </ng-container>
        </div>

      </div>
    </div>
  </aside>

</div>
