@import 'lucide-static/font/lucide.css';

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100svh; // nunca menor que a “pior” viewport
}

app-root {
  min-height: 100dvh; // tenta sempre acompanhar a altura visível
  display: flex;
  flex-direction: column;
}
